body {
    margin: 0;
    margin-top: 50px;
    font-family: Verdana, sans-serif;
    color: #47476b;
}

main {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 46px;
    justify-items: center;
    grid-gap: 30px 0px;
    background-color: #99ccff;
}

header {
/*    display: flex;*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    line-height: 20px;
    background-color: #75a3a3;
    align-items: center;
    justify-content: center;
    border: 3px solid #47476b;
}

h1, p {
    color: #47476b;
    text-align: center;
}

.slider-box {
    border: 3px solid #47476b;
}

section {
/*    float: left; this makes the sections line up left to right*/
  float: left;
  height: 80vh;
/*    margin-right: 150px; this adds a margin on the right*/
  padding-left: 2px;
  padding-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
/*    text-align: center;*/
  background-size: cover;
  background-position: center top;
  background-color: #c6c3cc;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer {
  float: initial;
  text-align: center;
  background-color: #a3a3c2;
  border: 3px solid #47476b;
  padding: 40px;
}

/* Sink */

div#sink {
  width: 52.5vw;
  height: 70vw;
  max-width: 300px;
  max-height: 400px;
  overflow: hidden;
}

div#sink figure {
  background-image: url('/Users/scot/Desktop/GitHub/architecture_visualizer/assets/images/sink.jpg');
  background-size: cover;
  position: relative;
  font-size: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

div#sink figure div {
  background-image: url('/Users/scot/Desktop/GitHub/architecture_visualizer/assets/images/sink_after.jpg');
  background-size: cover;
  position: absolute;
  box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
  overflow: hidden;
  bottom: 0;
  height: 100%;
}

/* Island */

div#island {
  width: 52.5vw;
  height: 70vw;
  max-width: 300px;
  max-height: 400px;
  overflow: hidden;
}

div#island figure {
  background-image: url('/Users/scot/Desktop/GitHub/architecture_visualizer/assets/images/floor.jpg');
  background-size: cover;
  position: relative;
  font-size: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

div#island figure div {
  background-image: url('/Users/scot/Desktop/GitHub/architecture_visualizer/assets/images/floor_after.jpg');
  background-size: cover;
  position: absolute;
  box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
  overflow: hidden;
  bottom: 0;
  height: 100%;
}

/* Oven */

div#oven {
  width: 52.5vw;
  height: 70vw;
  max-width: 300px;
  max-height: 400px;
  overflow: hidden;
}

div#oven figure {
  background-image: url('/Users/scot/Desktop/GitHub/architecture_visualizer/assets/images/oven.jpg');
  background-size: cover;
  position: relative;
  font-size: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

div#oven figure div {
  background-image: url('/Users/scot/Desktop/GitHub/architecture_visualizer/assets/images/oven_after.jpg');
  background-size: cover;
  position: absolute;
  box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
  overflow: hidden;
  bottom: 0;
  height: 100%;
}

/* Slider Button */

input[type=range] {
  -webkit-appearance:none;
  -moz-appearance:none;
  position: relative;
  top: -2rem; left: -2%;
  background-color: rgba(255,255,255,0.1);
  width: 102%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:active {
  outline: none;
}

input[type=range]::-moz-range-track {
  -moz-appearance:none;
    height:15px;
    width: 98%;
    background-color: rgba(255,255,255,0.1);
    position: relative;
    outline: none;
}

input[type=range]::active {
  border: none;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance:none;
    width: 20px; height: 15px;
    background: #fff;
    border-radius: 0;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  width: 20px;
  height: 15px;
  background: #fff;
  border-radius: 0;
  
}

input[type=range]:focus::-webkit-slider-thumb {
    background: rgba(255,255,255,0.5);
}

input[type=range]:focus::-moz-range-thumb {
    background: rgba(255,255,255,0.5);
}
